body{
  /*background-image: url("C:/Users/bohdan.cvejn/CV/images/botanic_book.jpg");*/
  background-color: #ccedd2;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

h1{
  color: #66BFBF;
  font-family: 'Rock Salt', cursive;
  font-size: 3.5rem;
  margin: 50px auto 0 auto;
}

h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 8px;
  margin-bottom: 5px;
}

h3{
  color: ##11999E;
  font-family: 'Ubuntu', sans-serif;
}

img{
  border-radius: 50%;
  border: 2px solid black;
}

p{
  margin: auto;
  line-height: 2;
}

hr{
  border-top: .5rem dotted;
  color: #ff80b0;
  margin: 0 auto;
  width: 5%;
}

div{
  margin-top: 0;
  margin-bottom: 10px;
}

.motto{
  width: 40%;
  margin: auto;
}

.first-container {
  position: relative;
}

.middle-container{
  background-color: #ffeadb;
}

.bottom-container{
  margin: 30px auto 20px;
  text-align: auto;
}

.skill-row {
  text-align: left;
  margin: 50px auto;
  width: 40%;
}

.skill-img-even{
  float: left;
  margin-right: 30px;
  width: 25%;
}

.skill-img-odd{
  float: right;
  margin-left: 30px;
  width: 25%;
}

.education-row{
  margin: auto;
  width: 40%;
}

.contact-me{
  margin: auto;
  width: 40%;
}

.btn-Contact-me {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:13px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
  margin: 40px auto 30px;
	padding:14px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn-Contact-me:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn-Contact-me:active {
	position:relative;
	top:1px;
}

.footer-link{
  font-family: 'Ubuntu', sans-serif;
  margin: auto 5px;
  text-decoration: none;
}

.footer-link:hover{
  font-family: 'Ubuntu', sans-serif;
  margin: auto 5px;
  text-decoration: underline;
}

.copyright{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: .8rem;
  margin: 5px auto 4px;
}
